{% extends "layout.html" %}
{% block title %}
About
{% endblock %}
{% block content %}
<p style="color: #0055b7; font-weight: bold; font-size: 40px; margin-bottom: 40px;">It's hard to Keep Up with Congress when the documents look like this...</p>
<img src="{{ url_for('static', filename='congressproceeding.png') }}" alt="American Flag" width="800">
<p style="color: #0055b7; font-weight: bold; font-size: 30px; margin-top: 40px;">The Congress Cut takes all the important updates from congress.gov and presents them in a palleteable and categorized way. We hope to improve on accessibility and engagement with the very discussions that affect an American citizen's future.</p>
{% endblock %}
