<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='site.css')}}" />
</head>

<body>
    <!-- Themed Title Bar -->
    <div class="themed-title-bar">
        <h1>The Congress Cut</h1>
    </div>

    <!-- Navbar -->
    <div class="navbar">
        <a href="{{ url_for('home') }}" class="navbar-brand">Home</a>
        <a href="{{ url_for('about') }}" class="navbar-item">About</a>
        <a href="{{ url_for('contact') }}" class="navbar-item">Contact</a>
    </div>

<!-- Search Form and Dropdown Container -->
<div class="search-dropdown-container">
    <!-- Search Form -->
    <form action="{{ url_for('search') }}" method="GET" class="search-form">
        <div class="search-container">
            <input type="text" name="query" placeholder="Search...">
            <button type="submit">Search</button>
        </div>
    </form>

    <!-- Dropdown Container -->
    <div class="dropdown">
        <!-- Add your dropdown content here -->
        <select name="cars" id="cars">
            <option value="artsmedia">Arts and Media</option>
            <option value="business">Business</option>
            <option value="education">Education</option>
            <option value="financeeconomy">Finance and Economy</option>
            <option value="immigration">Immigration</option>
            <option value="jobs">Jobs</option>
            <option value="justice">Justice</option>
            <option value="military">Military</option>
            <option value="religion">Religion</option>
            <option value="technology">Technology</option>
            <option value="transport">Transport</option>
        </select>
    </div>
</div>


    <div class="body-content">
        {% block content %}
        {% endblock %}
        <footer>
            <p>&copy; 2024</p>
        </footer>
    </div>
</body>
</html>
